# Many To Many Relation

## Student

| id(PK) | name      |
| ------ | --------- |
| INT    | CharField |

## Enrolment

| id(PK) | student_id(FK-Student) | lecture_id(FK-lecture) |
| ------ | ---------------------- | ---------------------- |
| INT    | INT                    | INT                    |

## Lecture

| id(PK)  | title     |
| ------ | --------- |
| INT       | CharField |

In [ ]:
Student.objects.all().delete() # 매니저야 다 지워줘.

In [ ]:
Student.objects.all()

In [10]:
Lecture.objects.all()

In [11]:
Enrolment.objects.all()

In [ ]:
# Student.objects.create(name='곽동령')

In [13]:
# Student.objects.create(name='지상현')

In [14]:
# Student.objects.create(name='안도건')

In [15]:
# Student.objects.create(name='강진우')

In [18]:
# Lecture.objects.create(title='컴퓨터 운영체제')
# Lecture.objects.create(title='HTTP와 네트워크')
# Lecture.objects.create(title='algo')

In [14]:
# Enrolment.objects.create(student_id=1,lecture_id=1)

In [15]:
# Enrolment.objects.create(student_id=1,lecture_id=2)

In [16]:
황은석 = Student.objects.get(id=2)
algo = Lecture.objects.get(id=2)

Enrolment.objects.create(student=황은석, lecture=algo)

In [17]:
Enrolment.objects.count()

3

In [27]:
# Student.objects.create(name='이유림')
# Enrolment.objects.create(student=이유림,lecture=algo)
Enrolment.objects.create(student=이유림,lecture_id=1)

In [28]:
이유림 = Student.objects.get(name='이유림')
이유림.enrolment_set.all()

In [31]:
student = Student.objects.get(name='이유림')
수강신청1 = student.enrolment_set.first()
수강신청2 = student.enrolment_set.last()

수강신청1.lecture.title
수강신청2.lecture.title

'컴퓨터 운영체제'

In [ ]:
# 수업 여러개 듣는 사람 1명을 student에 저장합니다.
# student의 수업들제목을 출력하는 for문을 날려보세요.

In [46]:
student = Student.objects.get(name='이유림')
for i in student.enrolment_set.all():
    print(i.lecture.title)

In [ ]:
# student의 수업들 중 제목이 n글자 넘는 수업의 제목을 출력.

In [47]:
for i in student.enrolment_set.all():
    if len(i.lecture.title) > 8:
        print(i.lecture.title)

In [ ]:
# Lecture.students => 수업 듣는 모든 학생들
# student.Lectures => 학생이 듣는 모든 수업들

In [11]:
Hotel.dummy(1)

In [13]:
Hotel.objects.all()

<QuerySet [<Hotel: Hotel object (1)>, <Hotel: Hotel object (2)>, <Hotel: Hotel object (3)>, <Hotel: Hotel object (4)>, <Hotel: Hotel object (5)>, <Hotel: Hotel object (6)>, <Hotel: Hotel object (7)>, <Hotel: Hotel object (8)>, <Hotel: Hotel object (9)>, <Hotel: Hotel object (10)>, <Hotel: Hotel object (11)>]>

In [12]:
Client.dummy(1)

In [14]:
Client.objects.all().values('id','name') #dictionary형태

<QuerySet [{'id': 8, 'name': 'Anna Russell'}, {'id': 10, 'name': 'Anthony Harrison'}, {'id': 9, 'name': 'Brittany Nelson'}, {'id': 4, 'name': 'Cory Aguilar'}, {'id': 11, 'name': 'Cory Lambert'}, {'id': 2, 'name': 'Devin Mann'}, {'id': 6, 'name': 'Gregory Lee'}, {'id': 3, 'name': 'Marissa Jones'}, {'id': 7, 'name': 'Melissa Smith'}, {'id': 1, 'name': 'Ronald Terry'}, {'id': 5, 'name': 'Stephanie Green'}]>

In [15]:
Client.objects.last().hotel_set.count()

0

In [24]:
new_hotel = Hotel.objects.last()


# Reservation.objects.create(hotel_id=1, client_id=2)

# new_hotel.clients.add(Client.objects.last())
new_hotel.clients.all()

In [26]:
new_hotel.clients.add(Client.objects.get(id=1),
                     Client.objects.get(id=3),
                     Client.objects.get(id=5),
                     Client.objects.get(id=7))

In [33]:
# new_hotel.clients.all().filter(name__lt=15) # lt less than
new_hotel.clients.filter(name__contains='h')

In [1]:
# Client.dummy(1)
client = Client.objects.get(id=3)
client.hotels.all()

# ERROR AttributeError: 'Client' object has no attribute 'hotlels'

In [2]:
client.hotels.all()

In [3]:
client = Client.objects.get(id=3)

client.hotels.add(
Hotel.objects.get(id=2),
Hotel.objects.get(id=4),
Hotel.objects.get(id=6))

In [4]:
client.hotels.all().values('name')