# 조건문

지금까지의 코드는 위에서부터 아래로 순차적으로 명령을 수행하는 프로그램을 작성하였다. 

제어문(Control of Flow)은 크게 반복문과 조건문으로 나눌 수 있고, 이는 순서도(Flow chart로 표현이 가능하다.)


<center> 
    <img src="./images/02/if.png", alt='if flowchart'/>
</center>

In [ ]:
# 위의 flow chart로 표현하면 아래와 같다.

a = 5

if a > 5 : 
    print ("5 초과")
    
#elif a <= 5:
 #   print ("5 이하")
    
else:
    print("5 이하")
    
print("a 값:", a)

## 조건문 문법

1. `if` 문은 반드시 일정한 참/거짓을 판단할 수 있는 `조건식`과 함께 사용이 되어야한다.
`if <조건식>:`

2-1. `<조건식>`이 참인 경우 `:` 이후의 문장을 수행한다.

2-2. `<조건식>`이 거짓인 경우 `else:` 이후의 문장을 수행한다.

* 이때 반드시 **들여쓰기를** 유의해야한다. 
파이썬에서는 코드 블록을 자바나 C언어의 `{}`와 달리 `들여쓰기`로 판단하기 때문이다.
* 앞으로 우리는 `PEP-8`에서 권장하는 `4spaces`를 사용할 것이다.

<center>
    <img src="./images/02/if_style.png", alt="if style"/>
</center>

<center><strong style="font-size: 40px;">우리는 4spaces를 맞춰서 씁니다!</strong></center>
<br>

<center>
    <img src="./images/02/spacetab.png", alt="[space vs tab]"/>
</center>    




[출처 : 400,000 GitHub repositories, 1 billion files, 14 terabytes of code: Spaces or Tabs?](https://medium.com/@hoffa/400-000-github-repositories-1-billion-files-14-terabytes-of-code-spaces-or-tabs-7cfe0b5dd7fd)

### 실습문제1 - 조건문 기초 활용


> **조건문을 통해 변수 num의 값과 홀수/짝수 여부를 출력하세요.**

---

```
예시 출력)
3
홀수입니다.
```

### 실습문제 2
> 아래 코드의 출력 결과를 예상해보세요.

In [ ]:
if True:
    if False:
        print(1)
        print(2)
        
    else: 
        print(3)

else:
    print(4)

print(5)

#3 ?

### 실습문제 3
> 주머니에 5000원이 있다. 택시를 타려면 주머니에 4000원 이상 혹은 카드가 있어야한다.
이때 택시를 탈수 있는지를 확인하는 코드를 짜보자.

In [ ]:
money = 3000
card = False

print('택시')  if money >= 4000 or card else print('BMW')

In [ ]:

True, False

def is_taxi(money,card):
    if money >= 4000 or card == True:
        return True
    else:
        return False
    
is_taxi(5000,False)

In [ ]:
# 실습!


#number = input()
#number = int(number)
#print(number, type(number))

num = int(input("점수를 입력하세요 : "))

if num % 2 == 0:
    print("짝수")

else:
    print("홀수")

## 복수 조건문

2개 이상의 조건문을 활용할 경우 `elif <조건식>:`을 활용한다.
<center>
<img src="./images/02/elif.png", alt="elif">
</center>

### 실습문제1 - 조건식 2개 이상 활용하기

> 조건문을 통해 변수 score에 따른 평점을 출력하세요.

|점수|등급|
|---|---|
|90점 이상|A|
|80점 이상|B|
|70점 이상|C|
|60점 이상|D|
|60점 미만|F|

--- 

```
예시 출력)
B
```

## 실습!

score = int(input("점수를 입력하세요 : "))

if score >= 90 :
    print("A등급")

elif score >= 80 :
    print("B등급")
    
elif score >= 70 :
    print("C등급")

elif score >= 60 :
    print("D등급")
    
else :
    print("F등급")

### 실습문제3 - 중첩 조건문 활용

> **위의 실습문제 2코드를 활용하여 
95점 이상이면, "참잘했어요"를 함께 출력해주세요**

--- 

```
예시 출력)
A
참잘했어요
```

In [ ]:
# 실습!
#score = 96


score = int(input("점수를 입력하세요 : "))

if score >= 90 :
    print("A등급")
    if score >= 95 :
        print("참잘했어요")

elif score >= 80 :
    print("B등급")
    
elif score >= 70 :
    print("C등급")

elif score >= 60 :
    print("D등급")
    
else :
    print("F등급")

In [ ]:
# FizzBuzz
n = int(input('숫자를 입력하세요: '))
for i in range(1, n + 1):
    
    
    if i % 3 == 0 and i % 5 == 0 :
        print ('FizzBuzz')
        
    elif i % 5 ==0 :
        print ('Buzz')
    
    elif i % 3 == 0 :
        print ('Fizz')
        
    else:
        print(i)

    
# 3의 배수면, Fizz
# 5의 배수면, Buzz
# 3 과 5의 배수면, Fizz,Buzz

### 실습문제

> 정수 세개가 들어온다. 이때, 2번째로 큰 정수를 출력하라

In [ ]:
a, b, c = 10, 15, 5



def second_number(a, b, c):
    if (a >= b >= c) or (c >= b >= a):
       
            return b
    
    elif (b >= a >= c) or (c >= a >= b):
    
            return a
    
    else:
            return c

        
print(second_number(15,15,50))

In [ ]:
def second_number(a, b, c):
    if a > b and b > c:
        return b
    
    elif b > a and a > c:
        return a
    
    elif c > a and a > b:
        return a
    
    elif a > c and c > b:
        return c
    
    elif b > c and c > a:
        return c
    
    elif c > b and b > a:
        return b

a_num = int(input("a를 입력하세요:"))
b_num = int(input("b를 입력하세요:"))
c_num = int(input("c를 입력하세요:"))

print(second_number(a_num,b_num,c_num))

In [ ]:
def sec_num(*args):
     
    for i in args:
       
        list_num = i
        
        max_num = max(list_num)
        
    return(max_num)
        
find_max =sec_num(1,19,29,30)
print(find_max)

### 실습문제
#### 환율계산
> 사용자가 띄어쓰기를 기준으로 ,  (Volume  단위) 입력한다. 원화로 계산해서  print 해주주자.

In [ ]:
#input = > 100 달러, 300 유로, 200 위안, 1000 엔 

def currency_calculator(volume, unit):
    currency = {
    'USD' : 1167,
    'JPY' : 1.096,
    'EUR' : 1268,
    'CNY' : 171
}
    if unit == '달러':
        return currency['USD'] * volume
    
    elif unit == '유로':
        return currency['EUR']* volume
    
    elif unit == '위안':
        return currency['CNY'] * volume
    
    elif unit == '엔':
        return currency['JPY'] * volume
    
    
print(currency_calculator(200,'달러'))

In [6]:
def currency_calculator_bincan(don_int, don_name_str):
    currency = {
    'USD' : 1167,
    'JPY' : 1.096,
    'EUR' : 1268,
    'CNY' : 171
}
    if don_name == '달러':
        return (currency['USD'] * don_int) + '원'
    
    elif don_name == '유로':
        return (currency['EUR'] * don_int) + '원'
    
    elif don_name == '위안':
        return (currency['CNY'] * don_int) + '원'
    
    elif don_name == '엔':
        return (currency['JPY'] * don_int) + '원'
    
don, don_name = input("volume와 unit을 입력하시오:").split()
don_int = int(don)
don_name_str = str(don_name)
print(currency_calculator_bincan(don_int, don_name_str))

volume와 unit을 입력하시오:100 달러

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
user_input = input('volume & unit:').split()

volume = int(user_input[0])
unit = user_input[1]

def currency_calulator(volume, unit):
    currency = {
        'USD' : 1167,
        'JPY' : 1.096,
        'EUR' : 1268,
        'CNY' : 171
        }
    
    unit_currency = {
    '달러' : 'USD',
    '엔' : 'JYP',
    '유로' : 'EUR',
    '위안' : 'CNY'
        }
    
    symbol = unit_currency[unit]
    return round(volume * currency[symbol], 2)


print(currency_calulator(volume, unit))

volume & unit:100 달러
116700

In [ ]:

def currency_calucator(volume, unit):
         currency = {
        'USD' : 1167,
        'JPY' : 1.096,
        'EUR' : 1268,
        'CNY' : 171
        }

            if unit == '달러':
                key = 'USD'
    
            elif unit == '엔':
                key = 'JPY'
    
            elif unit == '유로':
                key = 'EUR'

            elif unit == '위안':
                key = 'CNY'
    
            else:
                print('ㅠㅠ')
    
print(volume * currency[key])

In [ ]:
unit_currency = {
    '달러' : 'USD'
    '엔' : 'JYP'
    '유로' : 'EUR'
    '위안' : 'CNY'
}

return round(volume * currency[unit_currency[unit],2)
                               
print(currency_calculator(10, '엔'))

In [ ]:
currency = {
    'USD' : 1167,
    'JPY' : 1.096,
    'EUR' : 1268,
    'CNY' : 171
}


print(currency['USD'])

## 조건 표현식(Conditional Expression)

**활용법**

```
true_value if <조건식> else false_value
```
    
와 같이 표현식을 작성할 수 있다. 이는 보통 다른 언어에서 활용되는 삼항연산자와 동일하다.

In [ ]:
num = 3 

print('3이네!') if num == 3 else print('3이 아니네')

* 표현식은 보통 조건에 따라 값을 정할 때 많이 활용된다.

In [ ]:
# 아래의 코드는 무엇을 위한 코드일까요?
num = int(input("숫자를 입력하세요 : "))
value = num if num >= 0 else 0 
print(value)

In [ ]:
# 위의 코드와 동일한 코드입니다.
num = int(input('숫자를 넣어라!: '))
if num >= 0:
    print(num)

else  :
    print("0")

In [ ]:
# 다음의 코드와 동일한 조건 표현식을 작성해보세요. bool 개념
num = 2
if num % 2 :
    result = '홀수입니다.'
else:
    result = '짝수입니다.'
print(result)

In [ ]:
# 여기에 코드를 작성하세요.
num = 2
result = '홀수입니다' if num % 2 else '짝수입니다'
print(result)

# 반복문

## `while` 문

`while`문은 조건식이 참(True)인 경우 반복적으로 코드를 실행합니다. 
<br>
<br>
<center> 
    <img src="./images/02/while.png", alt="while"/>
</center>

**while 문은 종료조건을 반드시 설정해주어야 합니다.**

In [ ]:
a = 0 
while a < 5: 
    print(a)
    a += 1

print('끝')

<center>
    <img src="./images/02/while_style.png", alt="">
</center>

`while`문 역시 `<조건식>`이후에 `:`이 반드시 필요하며, 

이후 오는 코드 블록은 `4spaces`로 **들여쓰기**를 해주셔야 합니다.

## `for` 문

`for`문은 정해진 범위 내(시퀀스)에서 순차적으로 코드를 실행합니다.

<br>
<center>
    <img src="./images/02/loop-for.png", alt="">
</center>

In [ ]:
ss3 = ['황은석', '지상현', '조성규', '장재영', '이지선']

for ace in ss3:
    print(ace)
    

    
for i in range(10):
    print(i)
    

print('--', i)  #for문 밖에서도 i가 작동하기 때문에 밖에서는 i 안쓰는게 좋음.

<center>
    <img src="./images/02/for_style.png", alt="for_style">
</center>

---
```
for variable in sequence:
    code line1
    code line2
```

`for`문은 `sequence`를 순차적으로 **variable**에 값을 바인딩하며, 코드 블록을 시행합니다.

![for animation](./images/02/for.gif)

###  실습문제

> 반복문과 조건문만 활용하여 1~30까지 숫자 중에 홀수만 담긴 리스트를 만드세요

---
```
예시 출력)
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]
```

In [ ]:
# 여기에 코드를 작성하세요.
sun = list(range(1,31))



for i in sun:
    if i % 2 == 1:
        print(i)

In [ ]:
odds = []

for number in range(1,31):
    if number % 2 == 1:
        odds = odds + [number]
        # odds = [] + []
        
print(odds)

In [ ]:
#1부터 100까지 자연수 중에 5의 배수들의 총 합을 구하세요.

obaesu = []

for x in range(1,101):
    if x % 5 == 0 :
        obaesu = obaesu + [x]
        
print(obaesu)

print(sum(obaesu))

In [ ]:
s = 0

for i in range(1,21):
    s += i
result = s * 5 

print(result)

### 실습문제
#### sigma
> 정수 n 이 들어오면, 1 ~ n 까지의 합을 출력하는데, 함수로

In [ ]:
def all_sum(n):
    return sum(range(1,n+1))

sum_sum = int(input('n 입력:'))

print(all_sum(sum_sum))

In [47]:
n = 10 
total = 0 
for i in range(1, n+1):
    total += i

print(total)

55

### 실습문제
#### 99단

>"for"와 "range"로 99단 출력하기

In [14]:
for i in range(2,100):                     
    for j in range(1, 10):    
        
        print(i*j, end = '  ') 
        
    print()

2  4  6  8  10  12  14  16  18
3  6  9  12  15  18  21  24  27
4  8  12  16  20  24  28  32  36
5  10  15  20  25  30  35  40  45
6  12  18  24  30  36  42  48  54
7  14  21  28  35  42  49  56  63
8  16  24  32  40  48  56  64  72
9  18  27  36  45  54  63  72  81
10  20  30  40  50  60  70  80  90
11  22  33  44  55  66  77  88  99
12  24  36  48  60  72  84  96  108
13  26  39  52  65  78  91  104  117
14  28  42  56  70  84  98  112  126
15  30  45  60  75  90  105  120  135
16  32  48  64  80  96  112  128  144
17  34  51  68  85  102  119  136  153
18  36  54  72  90  108  126  144  162
19  38  57  76  95  114  133  152  171
20  40  60  80  100  120  140  160  180
21  42  63  84  105  126  147  168  189
22  44  66  88  110  132  154  176  198
23  46  69  92  115  138  161  184  207
24  48  72  96  120  144  168  192  216
25  50  75  100  125  150  175  200  225
26  52  78  104  130  156  182  208  234
27  54  81  108  135  162  189  216  243
28  56  84  112  140  168  196  224  252
29  58  87  116  145  174  203  232  261
30  60  90  120  150  180  210  240  270
31  62  93  124  155  186  217  248  279
32  64  96  128  160  192  224  256  288
33  66  99  132  165  198  231  264  297
34  68  102  136  170  204  238  272  306
35  70  105  140  175  210  245  280  315
36  72  108  144  180  216  252  288  324
37  74  111  148  185  222  259  296  333
38  76  114  152  190  228  266  304  342
39  78  117  156  195  234  273  312  351
40  80  120  160  200  240  280  320  360
41  82  123  164  205  246  287  328  369
42  84  126  168  210  252  294  336  378
43  86  129  172  215  258  301  344  387
44  88  132  176  220  264  308  352  396
45  90  135  180  225  270  315  360  405
46  92  138  184  230  276  322  368  414
47  94  141  188  235  282  329  376  423
48  96  144  192  240  288  336  384  432
49  98  147  196  245  294  343  392  441
50  100  150  200  250  300  350  400  450
51  102  153  204  255  306  357  408  459
52  104  156  208  260  312  364  416  468
53  106  159  212  265  318  371  424  477
54  108  162  216  270  324  378  432  486
55  110  165  220  275  330  385  440  495
56  112  168  224  280  336  392  448  504
57  114  171  228  285  342  399  456  513
58  116  174  232  290  348  406  464  522
59  118  177  236  295  354  413  472  531
60  120  180  240  300  360  420  480  540
61  122  183  244  305  366  427  488  549
62  124  186  248  310  372  434  496  558
63  126  189  252  315  378  441  504  567
64  128  192  256  320  384  448  512  576
65  130  195  260  325  390  455  520  585
66  132  198  264  330  396  462  528  594
67  134  201  268  335  402  469  536  603
68  136  204  272  340  408  476  544  612
69  138  207  276  345  414  483  552  621
70  140  210  280  350  420  490  560  630
71  142  213  284  355  426  497  568  639
72  144  216  288  360  432  504  576  648
73  146  219  292  365  438  511  584  657
74  148  222  296  370  444  518  592  666
75  150  225  300  375  450  525  600  675
76  152  228  304  380  456  532  608  684
77  154  231  308  385  462  539  616  693
78  156  234  312  390  468  546  624  702
79  158  237  316  395  474  553  632  711
80  160  240  320  400  480  560  640  720
81  162  243  324  405  486  567  648  729
82  164  246  328  410  492  574  656  738
83  166  249  332  415  498  581  664  747
84  168  252  336  420  504  588  672  756
85  170  255  340  425  510  595  680  765
86  172  258  344  430  516  602  688  774
87  174  261  348  435  522  609  696  783
88  176  264  352  440  528  616  704  792
89  178  267  356  445  534  623  712  801
90  180  270  360  450  540  630  720  810
91  182  273  364  455  546  637  728  819
92  184  276  368  460  552  644  736  828
93  186  279  372  465  558  651  744  837
94  188  282  376  470  564  658  752  846
95  190  285  380  475  570  665  760  855
96  192  288  384  480  576  672  768  864
97  194  291  388  485  582  679  776  873
98  196  294  392  490  588  686  784  882
99  198  297  396  495  594  693  792  891

### 실습문제
#### 삼각형
> 입력으로 높이가 들어옵니다. 높이만큼 산 모양으로 출력하세요(함수인데, print 로 끝, no out)

In [37]:

for i in range(1,10,2):
    height = i
    print(height * '*')

*
***
*****
*******
*********

In [49]:

    
    line = int(input("Tree 의 높이를 입력하세요(5~30) : "))
    
    for x in range(1):
        print((" " * ( (line * 2 - 1 - x) // 2 )) + ("☆"))
    for x in range(1, line * 2, 2):
        print((" " * ( (line * 2 - 1 - x) // 2 )) + ("*" * x))
        
        
    for y in range(1, 4):
        print(" " * (line-2) + "***")

Tree 의 높이를 입력하세요(5~30) : 8
       ☆
       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************
      ***
      ***
      ***

In [ ]:
for i in range(h):
    for j in reversed(range(h)):
        if i < j :
            print(' ', end='')
        else:
            print('*', end='')
            
    for j in range(h):
        if i > j:
            print('*', end='')
            
    print()

### index와 함께 `for`문 활용하기

`enumerate()`를 활용하면, 추가적인 변수를 활용할 수 있다.

In [ ]:
lunch = ['생선까스', '북어해장국','비엔나소시지']
for index, menu in enumerate(lunch):
    print(index, menu)

* `enumerate()`는 [파이썬 표준 라이브러리의 내장함수](https://docs.python.org/ko/3.6/library/functions.html) 중 하나이며, 다음과 같이 구성되어 있다.

<center>
    <img src="./images/02/enumerate.png", alt="enumerate">
</center>

In [ ]:
mates = ['박준태','박찬미','백지원','송건호','안도건']
enumerate(mates)

# 결과값 <enumerate at 0x2214ef54cf0> 주소가 찍히는 중

list(enumerate(mates))

In [ ]:
list(enumerate(mates, start = 1))

### dictionary 반복문 활용하기

기본적으로 dictionary를 `for`문을 시행시키면 다음과 같이 시행됩니다.

In [ ]:
class_room = {"teacher" : "Yu", "leader" : "hwang", "CA" : "kang"}

for role in class_room:
    print(role)

dictionary의 `key`를 출력함으로써 `value`에도 접근할 수 있기 때문입니다.

따라서 dictionary의 value를 출력하기 위해서는 아래와 같이 작성합니다.

In [ ]:
for role in class_room:
    print(class_room[role])

* dictionary에서 `for` 활용하는 4가지 방법

```python
# 0. dictionary (key 반복)
for key in dict:
    print(key)

# 1. key 반복
for key in dict.keys():
    print(key)
    
# 2. value 반복    
for val in dict.values():
    print(val)

# 3. key와 value 반복
for key, val in dict.items():
    print(key, val)

```

### 실습문제 

> 한번 직접 4가지 반복문을 활용해보고 출력되는 결과를 확인해보세요.

```
classroom = {"teacher": "Kim", "student1": "Hong", "student2": "Kang"}

```

In [ ]:
# 여기에 코드를 작성하세요.
classroom = { "teacher": "Kim", "student1": "Hong", "student2": "Kang" }


for key in classroom:
    print(key)
print('-'*50)    
for key in class_room.keys():
    print(key)
print('-'*50)  

for val in class_room.values():
    print(val)
print('-'*50)  

for key,val in class_room.items():
    print(key,val)

## `break`, `continue`, `else`

### `break`

`break`문은 반복문을 종료하는 표현입니다.

In [ ]:
for i in range(10):
    if i == 6:
        break
    print(i)

#### 실습문제

> 조건문과 반복문, break를 통해서 아래의 코드와 동일한 코드를 작성하세요.
> 
> (3이 있을 경우 True를 print하고, 아닐 경우 False를 print 합니다.)


```python
numbers = [1, 5, 10]
print(3 in numbers)
```

---
```
예시 출력)
False
```

In [ ]:
numbers = [1, 5, 10]
# 여기에 코드를 작성하세요.

#for i in numbers:
#    if i == 3:
#        print(True)
    
#    else:
#        print(False)
        
#    break
    
    

for number in numbers:
    if number == 3:
        result = True
    break

### `continue` 

`continue`문은 continue 이후의 코드를 수행하지 않고 다음 요소를 선택해 반복을 계속 수행합니다.

In [ ]:
for i in range(6):
    if i % 2 == 0:
        continue
        
    print(f"{i} is odd number")

### `else`

`else`문은 끝까지 반복문을 시행한 이후에 실행됩니다.

(`break`를 통해 중간에 종료되지 않은 경우만 실행)

In [ ]:
for i in range(3):
    if i == 3:
        print(f'{i}에서 break 실행됨')
        break
        
else:
    print('break 안걸림')

In [ ]:
for i in range(3):
    if i == 2:
        print(f'{i}에서 break 실행됨')
        break
        
else:
    print('break 안걸림')

### problem set

> 'colors = ['red','green','blue','white','black','gold']' 다음 리스트에서  0, 4, 5 index에 있는 요소들을 삭제한 새로운 리스트를 만드세요.

In [60]:
colors = ['red','green','blue','white','black','gold']

moim = colors[1], colors[2], colors[3]

print(list(moim))

['green', 'blue', 'white']

In [112]:
delete_index = [0, 4, 5]
remain_colors = []

for index, color in enumerate(colors):
    if index not in delete_index:
        remain_colors.append(color)
        
print(remain_colors)


#2

remain_colors=[]

for color in colors:
    if colors.index(color) not in(0,4,5):
        remain_colors.append(color)
        
print(remain_colors)

['green', 'blue', 'white']
['green', 'blue', 'white']

#### 달력 출력하기

> 1월부터 12월까지 다음과 같은 형태로 달력을 출력하세요

1월

일 월 화 수 목 금 토 (1space)
1  2  3 4  5 6  7  (2space)

In [119]:
month = range(1,13)



for x in month:
    print()
    print(x, '월')
    print('------------------')
    print('일 월 화 수 목 금 토')
    print('------------------')
    
    if x % 2 == 1 or x == 8 or x == 12:
            
        print("""                 1\n
2  3  4  5  6  7  8\n
9 10 11 12  13 14 15\n
16 17 18 19 20 21 22\n
23 24 25 26 27 28 29\n
30 31 """)
    elif x == 2:
            
        print("""                 1\n
2  3  4  5  6  7  8\n
9 10 11 12  13 14 15\n
16 17 18 19 20 21 22\n
23 24 25 26 27 28 """)
        
    elif x % 2 == 0 :
            
        print("""                 1\n
2  3  4  5  6  7  8\n
9 10 11 12  13 14 15\n
16 17 18 19 20 21 22\n
23 24 25 26 27 28 29\n
30  """)

1 월
------------------
일 월 화 수 목 금 토
------------------
                 1

2  3  4  5  6  7  8

9 10 11 12  13 14 15

16 17 18 19 20 21 22

23 24 25 26 27 28 29

30 31

2 월
------------------
일 월 화 수 목 금 토
------------------
                 1

2  3  4  5  6  7  8

9 10 11 12  13 14 15

16 17 18 19 20 21 22

23 24 25 26 27 28

3 월
------------------
일 월 화 수 목 금 토
------------------
                 1

2  3  4  5  6  7  8

9 10 11 12  13 14 15

16 17 18 19 20 21 22

23 24 25 26 27 28 29

30 31

4 월
------------------
일 월 화 수 목 금 토
------------------
                 1

2  3  4  5  6  7  8

9 10 11 12  13 14 15

16 17 18 19 20 21 22

23 24 25 26 27 28 29

30

5 월
------------------
일 월 화 수 목 금 토
------------------
                 1

2  3  4  5  6  7  8

9 10 11 12  13 14 15

16 17 18 19 20 21 22

23 24 25 26 27 28 29

30 31

6 월
------------------
일 월 화 수 목 금 토
------------------
                 1

2  3  4  5  6  7  8

9 10 11 12  13 14 15

16 17 18 19 20 21 22

23 24 25 26 27 28 29

30

7 월
------------------
일 월 화 수 목 금 토
------------------
                 1

2  3  4  5  6  7  8

9 10 11 12  13 14 15

16 17 18 19 20 21 22

23 24 25 26 27 28 29

30 31

8 월
------------------
일 월 화 수 목 금 토
------------------
                 1

2  3  4  5  6  7  8

9 10 11 12  13 14 15

16 17 18 19 20 21 22

23 24 25 26 27 28 29

30 31

9 월
------------------
일 월 화 수 목 금 토
------------------
                 1

2  3  4  5  6  7  8

9 10 11 12  13 14 15

16 17 18 19 20 21 22

23 24 25 26 27 28 29

30 31

10 월
------------------
일 월 화 수 목 금 토
------------------
                 1

2  3  4  5  6  7  8

9 10 11 12  13 14 15

16 17 18 19 20 21 22

23 24 25 26 27 28 29

30

11 월
------------------
일 월 화 수 목 금 토
------------------
                 1

2  3  4  5  6  7  8

9 10 11 12  13 14 15

16 17 18 19 20 21 22

23 24 25 26 27 28 29

30 31

12 월
------------------
일 월 화 수 목 금 토
------------------
                 1

2  3  4  5  6  7  8

9 10 11 12  13 14 15

16 17 18 19 20 21 22

23 24 25 26 27 28 29

30 31

In [33]:
months_end = {
    1 : 31, 2 : 28, 3 : 31, 4 : 30, 5 : 31, 6 : 30, 7 : 31, 8 : 31, 9 : 30, 10 : 31, 11 : 30, 12 : 31
}

weeks = ['Sun', 'Mon', 'Tue', 'Wed','Thu','Fri','Sat']

for month, end_date in months_end.items():
    print(month, '월')
    for yoil in weeks:
        print(yoil, end = '|')
    print()
    print('-' * 28)
    
    count = 0 
    for day in range(1, end_date + 1):
        print (f' {day}|', end='') if  day >= 10 else print(f'  {day}|', end='')
        count += 1 
        if count == 7 and day != end_date:
            print()
            count = 0
            
    
    print('\n')

1 월
Sun|Mon|Tue|Wed|Thu|Fri|Sat|
----------------------------
  1|  2|  3|  4|  5|  6|  7|
  8|  9| 10| 11| 12| 13| 14|
 15| 16| 17| 18| 19| 20| 21|
 22| 23| 24| 25| 26| 27| 28|
 29| 30| 31|

2 월
Sun|Mon|Tue|Wed|Thu|Fri|Sat|
----------------------------
  1|  2|  3|  4|  5|  6|  7|
  8|  9| 10| 11| 12| 13| 14|
 15| 16| 17| 18| 19| 20| 21|
 22| 23| 24| 25| 26| 27| 28|

3 월
Sun|Mon|Tue|Wed|Thu|Fri|Sat|
----------------------------
  1|  2|  3|  4|  5|  6|  7|
  8|  9| 10| 11| 12| 13| 14|
 15| 16| 17| 18| 19| 20| 21|
 22| 23| 24| 25| 26| 27| 28|
 29| 30| 31|

4 월
Sun|Mon|Tue|Wed|Thu|Fri|Sat|
----------------------------
  1|  2|  3|  4|  5|  6|  7|
  8|  9| 10| 11| 12| 13| 14|
 15| 16| 17| 18| 19| 20| 21|
 22| 23| 24| 25| 26| 27| 28|
 29| 30|

5 월
Sun|Mon|Tue|Wed|Thu|Fri|Sat|
----------------------------
  1|  2|  3|  4|  5|  6|  7|
  8|  9| 10| 11| 12| 13| 14|
 15| 16| 17| 18| 19| 20| 21|
 22| 23| 24| 25| 26| 27| 28|
 29| 30| 31|

6 월
Sun|Mon|Tue|Wed|Thu|Fri|Sat|
----------------------------
  1|  2|  3|  4|  5|  6|  7|
  8|  9| 10| 11| 12| 13| 14|
 15| 16| 17| 18| 19| 20| 21|
 22| 23| 24| 25| 26| 27| 28|
 29| 30|

7 월
Sun|Mon|Tue|Wed|Thu|Fri|Sat|
----------------------------
  1|  2|  3|  4|  5|  6|  7|
  8|  9| 10| 11| 12| 13| 14|
 15| 16| 17| 18| 19| 20| 21|
 22| 23| 24| 25| 26| 27| 28|
 29| 30| 31|

8 월
Sun|Mon|Tue|Wed|Thu|Fri|Sat|
----------------------------
  1|  2|  3|  4|  5|  6|  7|
  8|  9| 10| 11| 12| 13| 14|
 15| 16| 17| 18| 19| 20| 21|
 22| 23| 24| 25| 26| 27| 28|
 29| 30| 31|

9 월
Sun|Mon|Tue|Wed|Thu|Fri|Sat|
----------------------------
  1|  2|  3|  4|  5|  6|  7|
  8|  9| 10| 11| 12| 13| 14|
 15| 16| 17| 18| 19| 20| 21|
 22| 23| 24| 25| 26| 27| 28|
 29| 30|

10 월
Sun|Mon|Tue|Wed|Thu|Fri|Sat|
----------------------------
  1|  2|  3|  4|  5|  6|  7|
  8|  9| 10| 11| 12| 13| 14|
 15| 16| 17| 18| 19| 20| 21|
 22| 23| 24| 25| 26| 27| 28|
 29| 30| 31|

11 월
Sun|Mon|Tue|Wed|Thu|Fri|Sat|
----------------------------
  1|  2|  3|  4|  5|  6|  7|
  8|  9| 10| 11| 12| 13| 14|
 15| 16| 17| 18| 19| 20| 21|
 22| 23| 24| 25| 26| 27| 28|
 29| 30|

12 월
Sun|Mon|Tue|Wed|Thu|Fri|Sat|
----------------------------
  1|  2|  3|  4|  5|  6|  7|
  8|  9| 10| 11| 12| 13| 14|
 15| 16| 17| 18| 19| 20| 21|
 22| 23| 24| 25| 26| 27| 28|
 29| 30| 31|

In [11]:
import calendar


calendar.prmonth(2019, 1)

    January 2019
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31